body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 400px;
  max-height: 720px;
  background: rgb(30,29,71);
  background: radial-gradient(circle, rgba(30,29,71,1) 0%, rgba(13,14,40,1) 50%);
}

header #mobile-menu {
  display: none;
}

header nav.left {
  float: left;
  padding: 36px 0 0 50px;
}

header nav.left a {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  text-decoration: none;
  margin-right: 10px;
}

header nav.left a span {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 4px;
  opacity: 0;
  transition: 0.5s;
}

header nav.left a * {
  transition: 0.5s;
}

header nav.left a:hover * {
  color: #ffffff !important;
  fill: #ffffff !important;
}

header nav.left a:hover span {
  opacity: 1;
}

header nav.right {
  padding: 50px 50px 0 0;
  float: right;
}

header nav.right a {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  margin-left: 50px;
}

header nav.right a:first-child {
  margin-left: 0;
}

  header nav.right a:hover {
    background: linear-gradient(to right, #16b5fa, #0aebc9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

header #logo-p-1 {
  width: calc((100% - 900px) / 2);
  height: 148px;
  position: absolute;
  z-index: 1;
  top: 140px;
  background: url('/assets/images/01_repeat.png') top left;
}

header #logo {
  width: 1000px;
  height: 148px;
  position: absolute;
  z-index: 2;
  top: 140px;
  margin-left: calc((100% - 1000px) / 2);
  background: url('/assets/images/logo.png') top center no-repeat;
  background-size: contain;
}

main {
  width: 800px;
  margin: 100px auto 40px auto;
  color: #0c0e41;
  line-height: 24px;
}

main h2 {
  font-size: 20px;
}

main h2, main p, main ul {
  margin-bottom: 50px;
}

main h1 {
  font-size: 20px;
  font-style: italic;
}

main ul {
  font-style: italic;
  list-style: none;
  display: table;
}

  main ul li {
    margin-bottom: 20px;
  }

  main ul li:last-child {
    margin-bottom: 0;
  }

  main ul li i, main ul li span {
    display: table-cell;
    vertical-align: middle;
  }

  main ul li i:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 20px 0 -10px;
    background: linear-gradient(to right, #16b5fa, #0aebc9);
  }

  main #banners {
    margin-top: 40px;
  }

footer {
  width: 800px;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 12px;
  color: #8f91bf;
  border-top: 1px solid #f4f4f8;
}

  footer .left {
    float: left;
  }

  footer .right {
    float: right;
  }

  footer .right a {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
  }

  footer .right a svg * {
    color: #8f91bf;
    fill: #8f91bf;
  }

  footer .right a:hover svg * {
    color: #0c0e41;
    fill: #0c0e41;
  }

@media only screen and (max-width: 1100px) {
  header #logo-p-1 {
    width: calc((100% - 660px) / 2);
    height: 116px;
    top: 156px;
  }
  header #logo {
    width: 800px;
    height: 116px;
    top: 156px;
    margin-left: calc((100% - 780px) / 2);
  }
  main, footer {
    width: 640px;
  }
}

@media only screen and (max-width: 890px) {
  header {
    height: 340px;
  }
  header #logo-p-1 {
    width: calc((100% - 460px) / 2);
    height: 86px;
    top: 156px;
  }
  header #logo {
    width: 600px;
    height: 86px;
    top: 156px;
    margin-left: calc((100% - 580px) / 2);
  }

  header nav.left {
    padding: 16px 0 0 30px;
  }

  header nav.right {
    padding: 30px 30px 0 0;
  }

  header nav.right a {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 700px) {

  body.active {
    overflow: hidden;
  }

  header {
    height:100vh;
    min-height:100vh;
  }

  header:after {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    transform: rotate(90deg);
    font-weight: 300;
    content: "\276F";
  }

  header nav.left {
    padding: 20px 0 0 20px;
  }

  header nav.right {
    display: none;
  }

  body.active header nav.right {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 80px 0 0 0;
    background-color: #ffffff;
  }

  body.active header nav.right a {
    display: block;
    float: none;
    margin: 30px 20px;
    color: #0c0d26;
  }

  body.active header nav.right a:after {
    float: right;
    color: #8f91bf;
    content: "\276F";
  }

  body.active header nav.left * {
    color: #8f91bf !important;
    fill: #8f91bf !important;
    position: relative;
    z-index: 4;
  }

  body.active header #open-mobile-menu {
    height: 40px;
    padding-top: 0;
    line-height: 40px;
    color: #8f91bf;
    border-color: #8f91bf;
    z-index: 4;
  }

  body.active header #open-mobile-menu:after {
    content: 'x';
  }

  body.active header #open-mobile-menu span {
    display: none;
  }

  header #open-mobile-menu {
    display: block;
    width: 40px;
    height: 38px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding-top: 2px;
    line-height: 38px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
  }

  header #logo, main, footer {
    width: calc(100% - 40px);
  }
  header #logo {
    width: calc(100% - 20px);
    height: 310px;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: calc((100vh - 310px)/2);
    background: url('/assets/images/logo_mobile.png') center no-repeat;
  }
  header #logo-p-1 {
    top: calc((100vh - 310px)/2);
    width: calc((100% - 246px) / 2);
    height: 106px;
  }
}